{% include "header.html" %} <!-- Mit Jinja2 wird header.html eingebunden -->

<body>
            <div class="album py-5 bg-light">
         <div class="container">

    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Übersicht über meinen Weinkeller</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

                        <div class="album py-5 bg-light">
                        <div class="container">
{% for key, value in data.items() %}


<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ value.name }}</h5>
        <p class="card-text">
            Weintyp: {{ value.typ }}<br>
             Jahrgang: {{ value.jahrgang }}<br>
            Preis: {{ value.preis }} CHF<br><br>
            Deine persönliche Bewertung: {{ value.bewertung }}/10<br><br>
        </p>


          <form method="POST"> <!-- POST Methode für Key-Übergabe an FLask, damit die richtigen Daten ausgelesen werden können -->
                        <div class="col-12">
                            <!-- Button zum Wein erstellen -->
                            <button
                                    class="btn btn-primary"
                                    type="submit"
                                    id="{{ key }}"
                                    name="wein_id"
                                    value="{{ key }}"
                            >Details</button>
                        </div>
                    </form>

      </div>
    </div>
  </div>
</div>

              {% endfor %}


</body>

{% include "footer.html" %}
